<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./owlet-run (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{20,25}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{48,0},{20,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet-run (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{22,25}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{22,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet-run (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-4}</string>
    <key>spriteSize</key>
    <string>{22,24}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,27},{22,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet-run (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{20,25}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{48,27},{20,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet-run (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{22,25}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{24,0},{22,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./owlet-run (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-4}</string>
    <key>spriteSize</key>
    <string>{22,24}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{24,27},{22,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{70,54}</string>
   <key>textureFileName</key>
   <string>owlet-run.png</string>
  </dict>
 </dict>
</plist>
