<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./saw-patrol (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{36,16}</string>
    <key>spriteSourceSize</key>
    <string>{38,16}</string>
    <key>textureRect</key>
    <string>{{0,18},{36,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./saw-patrol (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{34,16}</string>
    <key>spriteSourceSize</key>
    <string>{38,16}</string>
    <key>textureRect</key>
    <string>{{0,54},{34,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./saw-patrol (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{36,16}</string>
    <key>spriteSourceSize</key>
    <string>{38,16}</string>
    <key>textureRect</key>
    <string>{{0,36},{36,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./saw-patrol (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,16}</string>
    <key>spriteSourceSize</key>
    <string>{38,16}</string>
    <key>textureRect</key>
    <string>{{0,0},{38,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./saw-patrol (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{36,16}</string>
    <key>spriteSourceSize</key>
    <string>{38,16}</string>
    <key>textureRect</key>
    <string>{{0,18},{36,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./saw-patrol (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{34,16}</string>
    <key>spriteSourceSize</key>
    <string>{38,16}</string>
    <key>textureRect</key>
    <string>{{0,54},{34,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./saw-patrol (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{36,16}</string>
    <key>spriteSourceSize</key>
    <string>{38,16}</string>
    <key>textureRect</key>
    <string>{{0,36},{36,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./saw-patrol (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,16}</string>
    <key>spriteSourceSize</key>
    <string>{38,16}</string>
    <key>textureRect</key>
    <string>{{0,0},{38,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{40,72}</string>
   <key>textureFileName</key>
   <string>saw-patrol.png</string>
  </dict>
 </dict>
</plist>
