<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./creep-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{26,27}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,30},{26,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{26,27}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,30},{26,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{28,0},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{28,0},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{28,30},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{28,30},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{56,59}</string>
   <key>textureFileName</key>
   <string>creep-attack.png</string>
  </dict>
 </dict>
</plist>
