<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./creep-death (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-2}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-death (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-2}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-death (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-2}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-death (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{26,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{28,0},{26,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-death (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,30},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-death (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-4}</string>
    <key>spriteSize</key>
    <string>{26,23}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{28,30},{26,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-death (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-6}</string>
    <key>spriteSize</key>
    <string>{26,19}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{56,0},{26,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-death (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-8}</string>
    <key>spriteSize</key>
    <string>{26,15}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{56,21},{26,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./creep-death (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-9}</string>
    <key>spriteSize</key>
    <string>{26,13}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{56,38},{26,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{84,58}</string>
   <key>textureFileName</key>
   <string>creep-death.png</string>
  </dict>
 </dict>
</plist>
