<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./tiny-jump (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{22,26}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{48,0},{22,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./tiny-jump (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-3}</string>
    <key>spriteSize</key>
    <string>{22,25}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{24,29},{22,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./tiny-jump (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-2}</string>
    <key>spriteSize</key>
    <string>{22,27}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{24,0},{22,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./tiny-jump (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-2}</string>
    <key>spriteSize</key>
    <string>{22,28}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{22,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./tiny-jump (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{22,25}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{48,28},{22,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./tiny-jump (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{22,26}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{48,0},{22,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{72,56}</string>
   <key>textureFileName</key>
   <string>tiny-jump.png</string>
  </dict>
 </dict>
</plist>
