<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./ball (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{2,1}</string>
    <key>spriteSourceSize</key>
    <string>{6,6}</string>
    <key>textureRect</key>
    <string>{{12,14},{2,1}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ball (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{4,3}</string>
    <key>spriteSourceSize</key>
    <string>{6,6}</string>
    <key>textureRect</key>
    <string>{{0,14},{4,3}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ball (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{4,3}</string>
    <key>spriteSourceSize</key>
    <string>{6,6}</string>
    <key>textureRect</key>
    <string>{{6,14},{4,3}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ball (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,5}</string>
    <key>spriteSourceSize</key>
    <string>{6,6}</string>
    <key>textureRect</key>
    <string>{{0,0},{6,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ball (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,5}</string>
    <key>spriteSourceSize</key>
    <string>{6,6}</string>
    <key>textureRect</key>
    <string>{{0,7},{6,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ball (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,5}</string>
    <key>spriteSourceSize</key>
    <string>{6,6}</string>
    <key>textureRect</key>
    <string>{{8,0},{6,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ball (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,5}</string>
    <key>spriteSourceSize</key>
    <string>{6,6}</string>
    <key>textureRect</key>
    <string>{{8,7},{6,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ball (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,5}</string>
    <key>spriteSourceSize</key>
    <string>{6,6}</string>
    <key>textureRect</key>
    <string>{{8,0},{6,5}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{16,19}</string>
   <key>textureFileName</key>
   <string>ball.png</string>
  </dict>
 </dict>
</plist>
